.button1 {
  background: none;
  border: none;
  margin: 50px auto 30px;
  transition: 0.2s;

  a {
    padding: 10px 20px;
    background: none;
    border: 1px solid $color1;
    color: $color1;
    transition: 0.2s;

    &:hover {
      background: $color1;
      color: $white1;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}

.button2 {
  background: none;
  border: none;
  margin: 50px auto 30px;
  transition: 0.2s;

  a {
    padding: 10px 20px;
    background: none;
    border: 1px solid $white1;
    color: $white1;
    transition: 0.2s;

    &:hover {
      background: $white1;
      color: $color1;
    }
  }
  &:hover {
    transform: scale(1.05);
  }
}

.buttonSubmit {
  border: 1px solid $color1;
  margin: 20px auto 30px;
  transition: 0.2s;
  padding: 10px 20px;
  background: $color1;
  color: $white1;

  &:hover {
    background: none;
    color: $color1;
    transform: scale(1.05);
  }
}
