footer {
  .footer-container {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 40% 10%;
    align-items: center;
    padding: 20px 0;

    p {
      font-size: 0.8rem;
    }

    a {
      color: $color2;
      font-family: $font2;
      font-size: 0.8rem;
    }

    li {
      list-style: none;
      line-height: 30px;
      transition: 0.2s;
      font-size: 0.8rem;

      a {
        color: $color2;
        font-size: 0.8rem;
      }

      &:hover {
        transform: translateX(-10px);
      }
    }

    i {
      padding: 5px;
      cursor: pointer;
      transition: 0.2s;
      color: $color2;
      font-size: 1rem;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
