header {
  nav {
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      width: 20%;
      margin: 0 auto;

      @media screen and (max-width: 770px) {
        width: 100%;
      }

      img {
        width: 100%;
        filter: drop-shadow(1px 1px 1px $blackShadow);
        transition: 0.2s;

        @media screen and (max-width: 770px) {
          width: 60%;
          margin: 0 auto;
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .menu-icons {
      display: none;
      color: $color1;

      @media screen and (max-width: 770px) {
        display: block;
        margin-bottom: 30px;
      }

      i {
        font-size: 1.5rem;
      }

      #open-icon {
        display: none;

        @media screen and (max-width: 770px) {
          display: block;
        }
      }

      #close-icon {
        display: none;
      }

      &:hover {
        text-shadow: 1px 1px 1px $blackShadow;
      }
    }
    .menuNav {
      .NavListLi {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 770px) {
          display: none;
          display: flex;
          flex-direction: column;
          align-items: stretch;
        }

        .liNav {
          list-style: none;
          padding: 5px 10px;
          text-align: center;
          transition: 0.2s;
          cursor: pointer;
          text-transform: uppercase;

          @media screen and (max-width: 770px) {
            padding: 10px 0;
            border-bottom: 1px solid $grey1;
            border-radius: 0;
          }

          a {
            color: $color1;
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
            transition: 0.2s;
          }

          &:hover {
            @media screen and (max-width: 770px) {
              transform: none;
              box-shadow: none;
              background: $color1;
              color: $white1;

              a {
                color: $white1;
              }
            }
          }
        }

        #menuHaras,
        #menuServices {
          .menuHarasNav,
          .menuServicesNav {
            display: none;
          }

          &:hover {
            display: block;
            position: relative;

            .menuHarasNav,
            .menuServicesNav {
              display: block;
              position: absolute;
              padding-top: 10px;
              width: 250px;

              ul {
                display: block;
                text-align: left;
                text-transform: none;
                background: $white1;
                list-style: none;

                @media screen and (max-width: 770px) {
                  width: 420px;
                  text-align: center;
                  color: $color1;
                }

                li {
                  list-style: none;
                  border-bottom: 1px solid rgba(241, 241, 241, 0.8);
                  width: 100%;
                  height: 100%;

                  &:first-of-type {
                    border-top: 2px solid $color1;
                  }
                  a {
                    display: flex;
                    padding: 10px;
                    font-size: 0.9rem;

                    &:hover {
                      color: $white1;
                      background: $color1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
