header {
  nav {
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;

    @media screen and (max-width: 770px) {
      grid-template-columns: 1fr;
      position: relative;
    }

    a {
      img {
        width: 70%;
        margin: 0 auto;
        transition: 0.2s;
        filter: drop-shadow(1px 1px 1px $blackShadow);

        @media screen and (max-width: 770px) {
          width: 40%;
          margin: 0 auto;
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .menu-icons {
      display: none;
      text-align: right;
      color: $color2;

      @media screen and (max-width: 770px) {
        display: block;
        position: absolute;
        top: 85px;
        right: 0px;
      }
      i {
        font-size: 1.5rem;
      }
      #open-icon {
        display: none;
        @media screen and (max-width: 770px) {
          display: block;
        }
      }

      #close-icon {
        display: none;
      }

      &:hover {
        text-shadow: 1px 1px 1px $blackShadow;
      }
    }
    .menuNav {
      .NavListLi {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 770px) {
          display: none;
          display: flex;
          flex-direction: column;
          align-items: stretch;
        }

        .liNav {
          list-style: none;
          padding: 5px 10px;
          text-align: center;
          transition: 0.2s;
          cursor: pointer;

          @media screen and (max-width: 770px) {
            padding: 10px 0;
            border-bottom: 1px solid $grey1;
            border-radius: 0;
          }

          a {
            color: $color2;
            width: 100%;
            height: 100%;
          }

          &:hover {
            transform: scale(1.2);

            @media screen and (max-width: 770px) {
              transform: none;
              box-shadow: none;
              background: $color2;
              color: $white1;

              a {
                color: $white1;
              }
            }
          }
        }
        #menuHaras {
          .menuHarasNav {
            display: none;

            @media screen and (max-width: 770px) {
              display: block;
              ul {
                display: block;
                position: inherit;
                width: 100%;
                text-align: center;

                li {
                  background: $white1;
                  color: $color2;
                  list-style: none;
                  padding: 10px;
                  border-bottom: 1px solid rgba(241, 241, 241, 0.8);
                  font-size: 0.8rem;

                  &:hover {
                    background: $color2;
                    color: $white1;
                  }
                }
              }
            }
          }

          @media screen and (min-width: 770px) {
            &:hover {
              display: block;
              position: relative;
              .menuHarasNav {
                display: block;
                position: absolute;
                ul {
                  display: block;
                  width: 150px;
                  text-align: left;
                  background: $white1;
                  list-style: none;

                  li {
                    list-style: none;
                    padding: 10px;
                    border-bottom: 1px solid rgba(241, 241, 241, 0.8);
                    font-size: 0.8rem;

                    &:hover {
                      color: $white1;
                      background: $color2;
                      transform: none;
                    }
                  }
                }
              }
            }
          }
        }

        #menuServices {
          .menuServicesNav {
            display: none;
          }
          &:hover {
            display: block;
            position: relative;
            .menuServicesNav {
              display: block;
              position: absolute;
              ul {
                display: block;
                width: 250px;
                text-align: left;
                background: $white1;

                li {
                  list-style: none;
                  padding: 10px;
                  border-bottom: 1px solid rgba(241, 241, 241, 0.8);
                  font-size: 0.8rem;

                  &:hover {
                    color: $white1;
                    background: $color2;
                    transform: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
