//fonts

@font-face {
  font-family: "garet-book";
  src: url(../fonts/Garet-Book.ttf);
}

@font-face {
  font-family: "garet-heavy";
  src: url(../fonts/Garet-Heavy.ttf);
}

$font1: garet-book, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$font2: garet-heavy, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

//colors

$color1: #1a3c61;
$color2: #ea412c;
$black1: #000;
$white1: #fff;
$text: #333;
$grey1: #f1f1f1;
$blackShadow: rgba(0, 0, 0, 0.25);
$whiteShadow: rgba(255, 255, 255, 0.25);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font1;
  font-size: 1rem;
}

body {
  color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color1;
  letter-spacing: 1px;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

a,
a:visited {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}
