@font-face {
  font-family: "garet-book";
  src: url(../fonts/Garet-Book.ttf);
}
@font-face {
  font-family: "garet-heavy";
  src: url(../fonts/Garet-Heavy.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: garet-book, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}

body {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a3c61;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

a,
a:visited {
  text-decoration: none;
}

header nav {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header nav a {
  width: 20%;
  margin: 0 auto;
}
@media screen and (max-width: 770px) {
  header nav a {
    width: 100%;
  }
}
header nav a img {
  width: 100%;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 770px) {
  header nav a img {
    width: 60%;
    margin: 0 auto;
  }
}
header nav a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header nav .menu-icons {
  display: none;
  color: #1a3c61;
}
@media screen and (max-width: 770px) {
  header nav .menu-icons {
    display: block;
    margin-bottom: 30px;
  }
}
header nav .menu-icons i {
  font-size: 1.5rem;
}
header nav .menu-icons #open-icon {
  display: none;
}
@media screen and (max-width: 770px) {
  header nav .menu-icons #open-icon {
    display: block;
  }
}
header nav .menu-icons #close-icon {
  display: none;
}
header nav .menu-icons:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
header nav .menuNav .NavListLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
header nav .menuNav .NavListLi .liNav {
  list-style: none;
  padding: 5px 10px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  text-transform: uppercase;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi .liNav {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0;
  }
}
header nav .menuNav .NavListLi .liNav a {
  color: #1a3c61;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi .liNav:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #1a3c61;
    color: #fff;
  }
  header nav .menuNav .NavListLi .liNav:hover a {
    color: #fff;
  }
}
header nav .menuNav .NavListLi #menuHaras .menuHarasNav,
header nav .menuNav .NavListLi #menuHaras .menuServicesNav,
header nav .menuNav .NavListLi #menuServices .menuHarasNav,
header nav .menuNav .NavListLi #menuServices .menuServicesNav {
  display: none;
}
header nav .menuNav .NavListLi #menuHaras:hover,
header nav .menuNav .NavListLi #menuServices:hover {
  display: block;
  position: relative;
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav,
header nav .menuNav .NavListLi #menuHaras:hover .menuServicesNav,
header nav .menuNav .NavListLi #menuServices:hover .menuHarasNav,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav {
  display: block;
  position: absolute;
  padding-top: 10px;
  width: 250px;
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav ul,
header nav .menuNav .NavListLi #menuHaras:hover .menuServicesNav ul,
header nav .menuNav .NavListLi #menuServices:hover .menuHarasNav ul,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul {
  display: block;
  text-align: left;
  text-transform: none;
  background: #fff;
  list-style: none;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav ul,
  header nav .menuNav .NavListLi #menuHaras:hover .menuServicesNav ul,
  header nav .menuNav .NavListLi #menuServices:hover .menuHarasNav ul,
  header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul {
    width: 420px;
    text-align: center;
    color: #1a3c61;
  }
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav ul li,
header nav .menuNav .NavListLi #menuHaras:hover .menuServicesNav ul li,
header nav .menuNav .NavListLi #menuServices:hover .menuHarasNav ul li,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul li {
  list-style: none;
  border-bottom: 1px solid rgba(241, 241, 241, 0.8);
  width: 100%;
  height: 100%;
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav ul li:first-of-type,
header nav .menuNav .NavListLi #menuHaras:hover .menuServicesNav ul li:first-of-type,
header nav .menuNav .NavListLi #menuServices:hover .menuHarasNav ul li:first-of-type,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul li:first-of-type {
  border-top: 2px solid #1a3c61;
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav ul li a,
header nav .menuNav .NavListLi #menuHaras:hover .menuServicesNav ul li a,
header nav .menuNav .NavListLi #menuServices:hover .menuHarasNav ul li a,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: 0.9rem;
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav ul li a:hover,
header nav .menuNav .NavListLi #menuHaras:hover .menuServicesNav ul li a:hover,
header nav .menuNav .NavListLi #menuServices:hover .menuHarasNav ul li a:hover,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul li a:hover {
  color: #fff;
  background: #1a3c61;
}

footer {
  background: #1a3c61;
}
footer .footer-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 40% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
@media screen and (max-width: 1075px) {
  footer .footer-container {
    grid-template-columns: 1fr;
    row-gap: 10px;
    text-align: center;
  }
}
footer .footer-container div p {
  font-size: 0.8rem;
  color: #fff;
}
footer .footer-container div p i {
  color: #ea412c;
}
footer .footer-container div a {
  color: #fff;
  font-size: 0.8rem;
}
footer .footer-container div a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
footer .footer-container div i {
  padding: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  font-size: 1rem;
}
footer .footer-container div i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.accueil {
  height: 80vh;
  background: url(../img/sujet.png) no-repeat left/contain;
}/*# sourceMappingURL=index.css.map */