@font-face {
  font-family: "garet-book";
  src: url(../fonts/Garet-Book.ttf);
}
@font-face {
  font-family: "garet-heavy";
  src: url(../fonts/Garet-Heavy.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: garet-book, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}

body {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: garet-heavy, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #1a3c61;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

a,
a:visited {
  text-decoration: none;
}

header nav {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 770px) {
  header nav {
    grid-template-columns: 1fr;
    position: relative;
  }
}
header nav a img {
  width: 70%;
  margin: 0 auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 770px) {
  header nav a img {
    width: 40%;
    margin: 0 auto;
  }
}
header nav a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header nav .menu-icons {
  display: none;
  text-align: right;
  color: #1a3c61;
}
@media screen and (max-width: 770px) {
  header nav .menu-icons {
    display: block;
    position: absolute;
    top: 85px;
    right: 0px;
  }
}
header nav .menu-icons i {
  font-size: 1.5rem;
}
header nav .menu-icons #open-icon {
  display: none;
}
@media screen and (max-width: 770px) {
  header nav .menu-icons #open-icon {
    display: block;
  }
}
header nav .menu-icons #close-icon {
  display: none;
}
header nav .menu-icons:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
header nav .menuNav .NavListLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
header nav .menuNav .NavListLi .liNav {
  list-style: none;
  padding: 5px 10px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi .liNav {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0;
  }
}
header nav .menuNav .NavListLi .liNav a {
  color: #1a3c61;
  width: 100%;
  height: 100%;
}
header nav .menuNav .NavListLi .liNav:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi .liNav:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #1a3c61;
    color: #fff;
  }
  header nav .menuNav .NavListLi .liNav:hover a {
    color: #fff;
  }
}
header nav .menuNav .NavListLi #menuHaras .menuHarasNav {
  display: none;
}
header nav .menuNav .NavListLi #menuHaras:hover {
  display: block;
  position: relative;
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav {
  display: block;
  position: absolute;
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav ul {
  display: block;
  width: 150px;
  text-align: left;
  background: #fff;
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.8);
  font-size: 0.8rem;
}
header nav .menuNav .NavListLi #menuHaras:hover .menuHarasNav ul li:hover {
  color: #fff;
  background: #1a3c61;
  -webkit-transform: none;
          transform: none;
}
header nav .menuNav .NavListLi #menuServices .menuServicesNav {
  display: none;
}
header nav .menuNav .NavListLi #menuServices:hover {
  display: block;
  position: relative;
}
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav {
  display: block;
  position: absolute;
}
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul {
  display: block;
  width: 250px;
  text-align: left;
  background: #fff;
}
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.8);
  font-size: 0.8rem;
}
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul li:hover {
  color: #fff;
  background: #1a3c61;
  -webkit-transform: none;
          transform: none;
}

footer .footer-container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 40% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
footer .footer-container p {
  font-size: 0.8rem;
}
footer .footer-container a {
  color: #1a3c61;
  font-family: garet-heavy, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 0.8rem;
}
footer .footer-container li {
  list-style: none;
  line-height: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.8rem;
}
footer .footer-container li a {
  color: #1a3c61;
  font-size: 0.8rem;
}
footer .footer-container li:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
footer .footer-container i {
  padding: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #1a3c61;
  font-size: 1rem;
}
footer .footer-container i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.accueil {
  height: 80vh;
  background: url(../img/1.jpg) center/cover;
}/*# sourceMappingURL=index.css.map */