#accueil {
  .hero {
    height: 100vh;
    background: $color1;
    display: grid;
    grid-template-columns: 30% 70%;

    .cheval {
      margin-top: 20px;
      background: url(../img/sujet.png) no-repeat left/contain;
    }

    .hero-text {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        padding: 50px;
        text-align: center;

        h1,
        p {
          color: $white1;
        }

        h1 {
          padding-bottom: 30px;
        }
      }
    }
  }
}
