#equipe {
  .cardEquipe {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media screen and (max-width: 850px) {
      grid-template-columns: 1fr;
    }

    .card {
      box-shadow: 0 0 10px $blackShadow;
      border-radius: 20px;

      &:hover {
        img {
          transform: scale(1.05);
        }
      }

      .imageEquipe {
        background: $color1;
        border-radius: 20px 20px 0 0;
        padding: 20px;

        .imageContainer {
          border-radius: 360px;
          height: 120px;
          width: 120px;
          margin: 0 auto;
          overflow: hidden;

          img {
            border-radius: 360px;
            width: 100%;
            transition: 0.2s;
          }
        }
      }

      h2 {
        padding: 30px 20px 30px 20px;
        font-size: 1.2rem;
      }

      h3 {
        padding: 0px 20px 30px 20px;
        text-transform: none;
      }

      p {
        padding: 0px 20px 30px 20px;
      }
    }
  }
}
